@font-face{
    src: url("digital-7.ttf");
    font-family: font01;
}

body {
    margin: 0;
    background-color: blue;
    font-family: font01;
    
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}

h4{
    border: 10px solid white;
    background-color: black;
    border-radius: 10px;
    font-size: 60px;
    height: 70px;
    width: 70px;
    margin: 10px;
    padding: 10px;
    color: red;
}

button{
   color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    font-size: 15px;
    height: 25px;
    width: 25px;
    margin: 5px;
    padding: 5px;

}

.flex1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

#clear{
    padding: 20px;
    margin: 30px;
    margin-left:50%;

    height: 50px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}




